Chatboot/Fluxo de Chat.json
{
  "name": "Fluxo de Chat",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Olá! 👋\nComo posso te ajudar?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "d19e052f-59c5-4ab4-b341-15fa645c8485",
      "name": "When chat message received",
      "webhookId": "44db68b2-09e5-4c7d-9c1d-ebff6f3d82f9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45703a23-04e6-4f5c-9a17-221438eee1fc",
              "name": "IdConversa",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "7e39ab5b-7015-4ef0-a6b2-fc62173c8823",
              "name": "Mensagem",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "b15035d5-ddd6-4292-911d-2909e0754825",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Mensagem }}",
        "options": {
          "systemMessage": "Você é um super agente de suporte, seja educado, engraçado e utilize emojis e em suas respostas para deixar a conversa mais humanizada"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        592,
        0
      ],
      "id": "c795ac03-cfce-4507-912c-67f024fe7621",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        592,
        224
      ],
      "id": "12202b11-7a38-4f2e-b75e-55a92b6212e5",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "CQlxX1XtMkyy2XDB",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.IdConversa }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        688,
        336
      ],
      "id": "6536fd2e-495e-4d34-a12a-78891e4f4f2f",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        1088,
        208
      ],
      "id": "32ddb3bb-d424-4d1a-98f3-820c582917b9",
      "name": "Calculator"
    },
    {
      "parameters": {
        "language": "python"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        1024,
        336
      ],
      "id": "2dfabb48-b3cd-4ae1-b8fb-13fd6dcfb016",
      "name": "Code Tool"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        912,
        384
      ],
      "id": "d46754cb-6fdd-4ac2-8d2a-4594dcb0e7c4",
      "name": "Wikipedia"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        944,
        0
      ],
      "id": "3067fce0-4a78-4c56-82ad-62d2fd2e438d",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "68b76c38-0283-4eb1-9a92-df0e43a7d68b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fa3bc92aab209cef48cc4640d544a00ce5d28a683b697a8b547a1f29ad9e489d"
  },
  "id": "gVh3ycNeYYCWTF2g",
  "tags": []
}